
input{
    padding: 1vw;
    margin: 0.8vw 0vw;
    border-radius: 0.5vw;
    border: 0.1vw solid #FFD90F;
}

input::placeholder {
    font-size: 1vw;
  }


input:invalid[focused="true"]{
    border: 0.1vw solid red
}

input:invalid[focused="true"] ~ span{
    display: block;
}
